.form{
    border: solid black 0.5px;
    width: 50vh;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%
}