*{
  margin: 0;
  padding: 0;
}
.flex-container{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  width: 100%;
}
.flex-container ul {
  display:flex;
  justify-content: flex-end;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  margin: 10px;
  list-style: none;
  color: white;
  
}
.flex-container h1{
  margin-bottom: -60px;
}

.flex-container li{
  
  display: inline-block;
  margin: 20px;
  color: white;
  border:solid 1px white;
  border-radius: 15%;
  padding: 5px;
}

.flex-container li:hover{
  background-color: rgb(75, 75, 75);
  
}

a{
  text-decoration: none;
  color: white;
}

  

h1{
  display: flex;
  text-align: center;
  
}